
@{
    ViewBag.Title = "ConsultarVagas";
}

<h1>Consultar Vagas</h1>

<h6>Você pode escolher entre listar todas as vagas ou procurar por uma especifica.</h6>

<p><a href="/Vagas/Index" class="btn btn-primary btn-lg">Listar Vagas &raquo;</a></p>

<p><a href="/Vagas/Pesquisa" class="btn btn-primary btn-lg">Pesquisar Vaga &raquo;</a></p>