@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@



<address>
    <strong>Suporte:</strong>  
    <br>Marcelo Specht</br> 
    <a href="mailto:mds_specht@hotmail.com">mds_specht@hotmail.com </a><br />
   
</address>