@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EasyEstagio</h1>
    <p class="lead">Aproximando estudantes e empresas.</p>
    <p><a href="/Vagas/ConsultarVagas" class="btn btn-primary btn-lg">Consultar Vagas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrar como Estudante</h2>
        <p>
            Registre-se para candidatar-se às vagas oferecidas.
        </p>
        <p><a href="/Estudantes/Create" class="btn btn-primary btn-lg">Registrar &raquo;</a></p>

       
    </div>
    <div class="col-md-4">
        <h2>Registrar como Empresa</h2>
        <p>Registre-se agora e cadastre as vagas de estágio da sua empresa.</p>
        <p><a href="/Empresas/Create" class="btn btn-primary btn-lg">Registrar &raquo;</a></p>
    </div>
</div>